<html>
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            div  {padding-top: 15px;}
        </style>        
    </head>
    <body>
        <div id="app">
            <p>目前 Member 有：</p>        
            <div>
                <ol>
                   <li v-for="m in member" v-if="m.gender=='男'">{{m.name}}({{m.gender}})</li> 
                </ol>
            </div>
        </div>
        <script>
            var app = new Vue({
                el: '#app',
                data: {
                    message: 'Hello 簡寫....',
                    member:[
                        {name:"paldin", gender:"男"},
                        {name:"ruby", gender:"女"},
                        {name:"olivia", gender:"女"},
                        {name:"peter", gender:"男"},
                        {name:"jessica", gender:"女"},
                        {name:"andrew", gender:"男"},
                        {name:"micky", gender:"男"},
                        {name:"homer", gender:"女"},
                    ]
                },
                methods:{                 
                }
            })       

    
        </script>

    </body>
</html>